

<div class="product-card">
    <img class="product-img"src='/{{this.thumbnail}}'></img>
    <div class="product-desc">
        
        <a class ="product-title"href="/posts/{{this.id}}"><h3>{{this.title}}</h3></a>
    </div>
</div>