<header>
      <nav>
            <h1>{{pageTitle}}</h1>
            <div class ="hidden-menu"><h2>Menu</h2></div>
            <ul>
                <li><a href="/">Home</a></li>
                 <div class="search-bar">
                    <form method="GET" enctype="application/x-www-form-urlencoded" action="/posts/search">
                        <input class="search-input"type="text"id="search-input"name="searchValue" placeholder="Search">
                        <button type="submit"class="search-button">Search</button>
                    </form>
                </div>
                <li><a href="/postvideo">Post video</a></li>
                {{#if isLoggedIn}}
                    {{>hidden}}
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>