<header>
      <nav>
            <h1>{{pageTitle}}</h1>
            <div class ="hidden-menu"><h2>Menu</h2></div>
            <ul>
                <li><a href="/">Home</a></li>
                
                <li><a href="/viewpost">View post</a></li>
                <li><a href="/postvideo">Post video</a></li>
                {{#if isLoggedIn}}
                    {{>hidden}}
                {{else}}
                <li><a href="login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>