<div class="dropdown">
  <div class="video-author">
    <img id="photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/510px-Default_pfp.svg.png?20220226140232"width="100px" height="100px" alt="">
    <h2>
        {{user.username}}
    </h2>
  </div>
  <div class="dropdown-content">
    <form action="/users/profile/{{user.userId}}" >
        <input class="submit-button menu-button" type="submit" value="Profile"></input>
    </form>
    <form action="/users/logout" method="post" >
        <input class="submit-button menu-button" type="submit" value="Log Out"></input>
    </form>
  </div>
</div>
