<div class="dropdown">
  <div class="video-author">
    <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
    <h2>
        {{user.username}}
    </h2>
  </div>
  <div class="dropdown-content">
    <form action="/users/profile" >
        <input class="submit-button menu-button" type="submit" value="Profile"></input>
    </form>
    <form action="/users/logout" method="post" >
        <input class="submit-button menu-button" type="submit" value="Log Out"></input>
    </form>
  </div>
</div>
