<head>
    <title>Login</title>
    <script defer src="public/js/validation.js"></script>

</head>
<body>
    <form>
        <div class="form-body">
            <div class="input-group">    
                <label for="username">Username</label>
                <input class="input-text" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input class="input-text" type="password" name="password" id="password" placeholder="password">
            </div>
        </div>
    </form>
    <div class="button-group">
        <input  class="submit-button" type="submit" value="Log in">
    </div>
</body>
</html>