
<head>
    <title>PostVideo</title>
    <script defer src="public/js/jsfile.js"></script>
</head>
<body>
    <form>
        <div class="form-body">
            <div class="input-group">
                <label for="Title">Title</label>
                <input class="input-text" type="text" name="Title" id="Title" placeholder="Title">
            </div>
            <div class="input-group">
                <label for="Description">Description</label>
                <input class="input-text" type="text" name="Description" id="Description" placeholder="Description">
            </div>
            <div class="input-group">
                <label for="file">Upload video:</label>
                <input type="file" name="file" id="file" />
            </div>
            <div class="checkbox-group">

                <label for="UsePolicy"> Accept the <a href="#">Use Policy.</a></label>
                <input class="input-text" type="checkbox" id="UsePolicy" name="UsePolicy" value="UseAcceptance">
            </div>
        </div>
    </form>
    <div class="button-group">
        <input class="submit-button"type="submit" value="Upload">
    </div>
</body>
</html>