
<head>
    <title>PostVideo</title>
</head>
<body>
    <form action="/posts/create" method="POST" enctype="multipart/form-data">
        <div class="form-body">
            <div class="input-group">
                <label for="Title">Title</label>
                <input class="input-text" type="text" name="title" id="Title" placeholder="Title" required>
            </div>
            <div class="input-group">
                <label for="Description">Description</label>
                <input class="input-text" type="text" name="description" id="Description" placeholder="Description"required>
            </div>
            <div class="input-group">
                <label for="file">Upload video:</label>
                <input type="file" name="uploadVideo" id="file" required />
            </div>
            <div class="checkbox-group">

                <label for="UsePolicy"> Accept the <a href="https://i.imgur.com/B3AZkzv.jpg">Use Policy.</a></label>
                <input class="input-text" type="checkbox" id="UsePolicy" name="UsePolicy" value="UseAcceptance" required>
            </div>
        </div>
        <div class="button-group">
        <input class="submit-button"type="submit" value="Upload">
    </div>
    </form>
    
</body>
</html>