<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css" /> 
    <title>Profile</title>
    <script defer src="../js/jsfile.js"></script>
</head>
<body>
    <header>
        <h2>
            Profile
        </h2>
        <nav>
            <div class ="hidden-menu"><h2>Menu</h2></div>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="registration.html">Register</a></li>
                <li><a href="viewpost.html">View post</a></li>
                <li><a href="postvideo.html">Post video</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div class="user-profile">
        <div class="video-author">
            <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
       
            <h2>
                Duck Owner
            </h2>
            <input class="submit-button" type="submit" value="Subscribe">
        
            <p>
                duckowner@gmail.com
            </p>
        </div>
        <h3>
            Post
        </h3>
        <ul>
            <li><a href="viewpost.html">Duck Quacks(real)(amazing)(MUST WATCH)</a></li>
        </ul>
    </div>
    <footer>
        Luis M Alvarado Rivas &copy;2023
    </footer>
</body>
</html>