<head>
    <title>Profile</title>
    <script defer src="public/js/jsfile.js"></script>
</head>
<body>
    <div class="user-profile">
        <div class="video-author">
            <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
       
            <h2>
                {{user.username}}
            </h2>
            <input class="submit-button" type="submit" value="Subscribe(not really)">
        
            <p>
                {{user.email}}
            </p>
        </div>
        <h3>
            Post
        </h3>
        <ul>
            <li><a href="viewpost">Duck Quacks(real)(amazing)(MUST WATCH)</a></li>
        </ul>
    </div>
</body>
</html>