<head>
    <title>Registration</title>
    <script defer src="public/js/validation.js"></script>
</head>
<body>
    <form id="register-button" action="/users/registration" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-body">
            <div class="input-group dropdown">
                <label for="username">User  Name</label>
                <input class="input-text" type="text" name="username" id="username" placeholder="Username">
                <div class="dropdown-content">
                    <p>
                        Username must begin with a letter and have at least 3 characters.
                    </p>

                </div>
            </div>
            <div class="input-group">
                <label for="Email">Email</label>
                <input class="input-text" type="email" name="Email" id="Email" placeholder="Email" >
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input class="input-text" type="password" name="password" id="reg-password" placeholder="password">
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input class="input-text" type="password" name="passwordConfirm" id="confirm_password" placeholder="Confirm password">
            </div>
            <div class ="checkbox-group">
                <label for="ageCheck"> Are you 13+ years of age</label>
                <input type="checkbox" id="ageCheck" name="ageCheck" value="is13" required>
            </div>
            <div class="checkbox-group">
                <label for="tosCheck"> Do you accept the <a href="#">Terms and conditons.</a></label>
                <input type="checkbox" id="tosCheck" name="tosCheck" value="tos" required>
            </div>
        </div>
        <!--<input type="submit" value="Register">-->
        <div class="button-group" >
            <input class="submit-button" type="submit" value="Register" >
            <input id="clear-button"class="submit-button clear-button" type="submit" value="Clear" action="/login">
        </div>
    </form>
</body>
</html>

<!-- This is a comment -->