<head>
    <title>ViewPost</title>
    <script defer src="public/js/jsfile.js"></script>
</head>
<body>
    <div class="post-video">
        <div class="video">
            <video width="600" height="420" controls><source src="https://i.imgur.com/lcdB61j.mp4" type="video/mp4"></video>
        </div>
        <div class="video-title">
            <h3>Duck</h3>
        </div>
        <div class="video-author">
            <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
            <a href="profile">Duck Owner</a>
           
            <p>
                1/23/1984
            </p>   
        </div> 
        <div class="comment-section">
            <h3>
                Comment Section
            </h3>
            <div class="comment-post">
                <div>
                    <img id="photo" src="https://i.imgur.com/zvaBM9j.png"width="100px" height="100px" alt="">
                    <a href="profile">Duck Owner</a>
                </div>
                <p>
                    subscribe for duck giveaway
                </p>
            </div>
            <div class="comment-post">
                <div>
                    <img id="photo" src="https://i.imgur.com/Lr5503O.jpg"width="100px" height="100px" alt="">
                    <a href="profile">Duck Hater</a>
                </div>
                <p>
                    eat the duck
                </p>
            </div>
        </div>
    <div class="video-suggested">
        <h3>Suggested Videos</h3>
        <div class="thumbnail">
            <img id="photo" src="https://i.imgur.com/DjiyUdR.jpg"width="100px" height="100px" alt="">
            <a href="/">Don't go to denny's at 3am</a>
        </div>
        <div class="thumbnail">
            <img id="photo" src="https://i.imgur.com/8vWy7Kh.jpg"width="100px" height="100px" alt="">
            <a href="/">Serial killer post on social media after escape</a>
        </div>
        <div class="thumbnail">
            <img id="photo" src="https://i.imgur.com/ag0qmlI.jpg" width="100px" height="100px" alt="">
            <a href="/">Oregon mafia run protection racket</a>
        </div>
    </div>
    </div>
</body>
</html>