:root{
  --site-titlecolor: rgb(255,184,108);
  --header-bg:#1c1d25;
  --content-bg: #313843;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
   /* font-size: 100%;*/
    font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
    color: azure;

}
header{
  background-color: var(--header-bg);
  padding-top: 10px;

}
nav ul{
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  font-size: 125%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
ul li a{
  text-decoration: none;

}
ul li{
  padding: 4px 8px;
}


body {
  background-color: rgb(40,42,54);
  margin:0;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
  color:var(--site-titlecolor);

}
a:active {
  color: #096F94;
}
h1 {
    color:var(--site-titlecolor);
    margin-top: 0;
    margin-left: 20px;
}
h2 {
  color:var(--site-titlecolor);
  margin-top: 0px;
  margin-left: 20px;

}
footer{
  background-color:var(--header-bg);
  text-align: center;
  padding: 50px;
  padding-bottom: 50px;
  margin-top: auto;
 
 
}
.input-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius:.35rem ;
}
.input-text{
  padding:4px;
}
.submit-button{
  background-color: rgb(28, 29, 37);
  color: #ffffff;
  width:15%;
  padding: 8px;
  border-radius:.35rem ;
  cursor: pointer;
 
}
.clear-button{
  background-color: var(--site-titlecolor);
  color: #000000;

}

.submit-button:hover{
  color: var(--site-titlecolor);
  background-color: rgb(28, 29, 37);
}
.submit-button:active{
  color: #096F94;

}
.cat-button:active{
  color: #096F94;

}
.button-group{
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}
.post-video {
  background-color:var(--content-bg);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6, .1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
.video{
  grid-area: 1 / 1 / 2 / 3;
  justify-self: center;
  width: 50%;
}
.video-title{
  grid-area: 2 / 1 / 3 / 3;
  width: 50%;
  justify-self: center;
}
.video-suggested { 
  grid-area: 1 / 3 / 6 / 4; 
}
.video-author{
  grid-area: 3 / 1 / 4 / 3;
  background-color: var(--header-bg);
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: .50fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  width: 50%;
  justify-self: center;
 
}
.user-profile > .video-author{
  margin-top: 25px;
  grid-template-columns: .25fr .50fr .50fr .50fr;

}
.video-suggested > img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}
.thumbnail{
  background-color: var(--header-bg);
  display: grid;
  grid-template-columns: .45fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  width: 85%;
  margin-bottom: 17px;
}
.comment-section{
  grid-area: 4 / 1 / 5 / 3;
  justify-self: center;
  width: 47%;
  
}
.comment-post{
  background-color: rgb(3, 1, 0);
  display: grid;
  grid-template-columns: .20fr 1fr;
  grid-template-rows: .30fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.user-profile{
  margin-left: 50px;

}
.video-author > input{
  width:80%;
}



form{
  display: grid;
  grid-auto-flow: row;
  gap: 17px;
  width:100%;
  padding: 8px;
  justify-items: center;
 

}
.hidden-menu{
  display: none;
}



/*Code for smaller screens vvvvv*/


@media only screen and (max-width: 900px) {
  .post-video {
    background-color:var(--content-bg);
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(8, .1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin:0;
  }
  .video-suggested { 
    grid-area: 6 / 1 / 7 / 2;
  }
  
.video{
  justify-self: start;
  width: 100%;
}
.video > video{

  width: 100%;
}
.video-title{
  width: 50%;
  justify-self: start;
}


.video-author{
  background-color: var(--header-bg);
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: .50fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  width: 100%;

 
}
.thumbnail{
  background-color: var(--header-bg);
  display: grid;
  grid-template-columns: .45fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  width: 85%;
  margin-bottom: 17px;
}
.comment-section{
  grid-area: 4 / 1 / 5 / 3;
  justify-self: start;
  width: 100%;
  
}
.comment-post{
  background-color: rgb(3, 1, 0);
  display: grid;
  grid-template-columns: .20fr 1fr;
  grid-template-rows: .30fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.user-profile{
  margin-left: 0px;

}
}
@media only screen and (max-width: 480px) {

  nav ul{
    background-color: var(--header-bg);
    display: grid;
    grid-auto-flow: row;
    list-style: none;
    font-size: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    
  }
  ul li{
    padding: 2px 2px;
  }
  nav:hover ul {
    display: inline-block;
}
.hidden-menu{
  display: inline-block;
  text-decoration:underline;
}
}