:root{
  --site-titlecolor: rgb(255,184,108);
  --header-bg:#1c1d25;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
   /* font-size: 100%;*/
    font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
    color: azure;

}
header{
  background-color: var(--header-bg);
  padding-top: 10px;

}
nav ul{
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  font-size: 125%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
ul li a{
  text-decoration: none;

}
ul li{
  padding: 4px 8px;
}


body {
  background-color: rgb(40,42,54);
  margin:0;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
  color:var(--site-titlecolor);

}
a:active {
  color: #096F94;
}
h1 {
    color:var(--site-titlecolor);
    margin-top: 0;
    margin-left: 20px;
}
h2 {
  color:var(--site-titlecolor);
  margin-top: 0px;
  margin-left: 20px;

}
footer{
  background-color:var(--header-bg);
  text-align: center;
  padding: 50px;
  padding-bottom: 50px;
  margin-top: auto;
 
 
}
.input-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius:.35rem ;
}
.input-text{
  padding:4px;
}
.submit-button{
  background-color: rgb(28, 29, 37);
  color: #ffffff;
  width:15%;
  padding: 8px;
  border-radius:.35rem ;
  cursor: pointer;
 
}
.clear-button{
  background-color: var(--site-titlecolor);
  color: #000000;

}

.submit-button:hover{
  color: var(--site-titlecolor);
  background-color: rgb(28, 29, 37);
}
.submit-button:active{
  color: #096F94;

}
form{
  display: grid;
  grid-auto-flow: row;
  gap: 17px;
  width:50%;
  padding: 8px;
  

}